#feedbacks {
  position: relative;
  padding-bottom: 80px;

  @media (width <= $md) {
    padding-bottom: 60px;
  }
}

.feedbackContainer {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.feedbackBaloons {
  display: flex;
  justify-content: space-between;
  min-width: 1400px;

  img {
    max-width: max-content;
  }
}

.scrollButton {
  position: absolute;
  top: 95%;
  transform: translateY(-90%);
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.scrollButton.left {
  left: 10%;
}

.scrollButton.right {
  right: 10%;
}

@media (width <= $md) {
  .scrollButton.left,
  .scrollButton.right {
    bottom: -20px;
  }
}

.scrollButton img {
  width: 60px;
  height: 60px;
}
