#feedbacks{
  padding-bottom: 80px;
}

.feedbackContainer{
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
  padding: 1rem;

}

.feedbackBaloons{
  display: flex;
 justify-content: space-between;
  overflow-x:auto ;
  min-width: 1400px;


  img{
    width: 358px;
    height: 288px;
  }
}