.contentHero {
  h2 {
    font-family: $ff-fancy-logo;
    font-size: 5.5rem;
    line-height: 5rem;
    margin-bottom: 40px;
    @media (width <= $xl) {
      text-align: center;
    }
    @media (width <= $md) {
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin: 0 auto 40px auto;
    }
  }
  p {
    font-family: $ff-text;
    font-size: $text-size;
    max-width: 45ch;
    line-height: 2.2rem;
    margin-bottom: 40px;
    @media (width <= $xl) {
      text-align: center;
      margin: 0 auto 20px auto;
    }
  }
  .encomendarBtn {
    @media (width <= $xl) {
      text-align: center;
      margin: 0 auto;
    }
  }

}

.containerHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: start;
  margin-top: 80px;

  @media (width <= $xl) {
    grid-template-columns: 1fr;
  }
  img {
    max-width: fit-content;
    @media (width <= $xl) {
      max-width: fit-content;
      margin: 0 auto;
    }
    @media (width <= $md) {
      max-width: 500px;
      margin: 0 auto;
    }
    @media (width <= $sm) {
      max-width: 350px;
      margin: 0 auto;
    }
  }
}
