$ff-title: "Playfair Display", serif;
$ff-text: "Poppins", sans-serif;
$ff-fancy-logo: "Sacramento", sans-serif;

$title-size: 4.375rem;
$text-size: 1.25rem;

$primary-color: #d0b780;
$text-color: #532f17;
$bg-color-cream: #efebe8;
$accent-color: #252628;

$img-radius: 12px;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin simple-shadow {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
}

@mixin animate-left-right {
  animation: LeftToRight 0.3s forwards;

  @keyframes LeftToRight {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

*  {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}
html, body{
  overflow-x: hidden;
}

.dot{
  color: #d9a521;
}

body {
  background: $bg-color-cream;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}
.titleHero {
  font-size: 4rem;
  font-family: $ff-title;
  color: $text-color;
  margin-bottom: 0.875rem;
  font-style: italic;
  font-weight: bold;
 }
img {
  display: block;
  height: auto;
  max-width: 100%;
}

// UTILS
body {
  background: $bg-color-cream;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}


.title {
  font-size: 4rem;
  font-family: $ff-title;
  color: $text-color;
  font-style: italic;
  margin-bottom: 0.875rem;
  font-weight: bold;

  @media (width <= $lg) {
    font-size: 3.5rem;
  }

  @media (width <= $md) {
    font-size: 2.375rem;
  }
}

.titleProducts {
  font-size: 3rem;
  font-family: $ff-title;
  color: $text-color;
  margin-bottom: 0.875rem;
  font-weight: bold;

  @media (width <= $lg) {
    font-size: 3.5rem;
  }

  @media (width <= $md) {
    font-size: 2.375rem;
  }
}

.logo-text-fancy {
  font-family: $ff-fancy-logo;
  font-size: 2.450rem;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

//componentes padrao

.encomendarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  background-color: #d9a521;
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 12px;
  font-family: $ff-text;
  font-size: 1.125rem;
  width: fit-content;

  &:hover {
    background-color: lighten($text-color, $amount: 10);
  }

  @media (width <= $sm) {
    gap: 10px;
    padding: 10px 15px;
    font-size: 0.875rem;

    svg {
      height: 20px;
    }
  }
}

.custom-shape-divider-bottom-1717192187 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.moveToTop{
  position: fixed;
  max-width: 60px;
  cursor: pointer;
  left: 85%;
  top: 90%;
  z-index: 999;
  color: #d9a521;
  box-shadow: -6px 10px 17px -2px rgba(0,0,0,0.27);
-webkit-box-shadow: -6px 10px 17px -2px rgba(0,0,0,0.27);
-moz-box-shadow: -6px 10px 17px -2px rgba(0,0,0,0.27);
border-radius: 50%;
}